<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Do you want to physically keep track of your money? Do you have a record book for all your expenses? MoneyManage is a simple site where anyone can manually keep track of their money. Sign up today!
</p>