<% if current_user && !current_user.logged_in? %>
	<div class="center jumbotron">
	  <h1>Welcome to MoneyManage</h1>

	  <h2>
	    Please sign up or log in to start keeping track of your money.
	  </h2>

	  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to MoneyManage</h1>

	  <h2>
	    Go to your profile and start keeping track of your money.
	  </h2>
	</div>
<% end %>