<div class="center jumbotron">
  <h1>Welcome to MoneyManage</h1>

  <h2>
    Please sign up or log in to start keeping track of your money.
  </h2>

  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
</div>