<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
  <FORM>
	<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
  </FORM>
<% end %>